include LICENSE.txt
include README.rst
include legal.txt
recursive-include djangocms_text_tinymce/locale *
recursive-include djangocms_text_tinymce/static *
recursive-include djangocms_text_tinymce/templates *
recursive-exclude * *.pyc
